* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px auto;
    max-width: 1440px;
    max-height: max-content;
}

main {
    background-image: url(../images/background-home.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 82px;
    height: 900px;
    padding: 52px 199px 99px 70px;
}

.right-side {
    margin-top: 38px;
    flex: 1;
}

.left-side {
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    flex: 2;
}

.logo {
    padding-bottom: 184px;
}

.slim {
    text-transform: capitalize;
}

.bold {
    font-weight: 600;
}

.main-title {
    font-weight: 600;
    font-style: normal;
    font-size: 62px;
    line-height: 76px;
}

.main-text {
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 39px;
    padding: 24px 0 39px;
}

.cta-download {
    color: #7556CD;
    background: #FFFFFF;
    box-shadow: 4px 4px 14px rgba(228, 113, 142, 0.4);
    border-radius: 80px;
    padding: 10px 32px;
    border: none;
    display: flex;
    gap: 18px;
    align-items: center;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.icon-arrow {
    width: 36px;
    height: 3px;
    background-color: #7556CD;
    border-radius: 4px;
}

.icon-arrow::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: #7556CD;
    transform: rotate( 135deg);
    position: absolute;
    bottom: 18px;
    right: 30px;
    border-radius: 4px;
}

.icon-arrow::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: #7556CD;
    transform: rotate( 45deg);
    position: absolute;
    top: 18px;
    right: 30px;
    border-radius: 4px;
}

.header-app {
    background: url(../images/background-app.png);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 19px 24px 48px;
    background-size: cover;
}

.search {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.276) 100%);
    border-radius: 8px;
    border: none;
    padding: 10px 0px 10px 37px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

::placeholder {
    color: #FFFFFF;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 21px;
    font-family: Quicksand;
}

.icon-search {
    width: 17px;
    height: 17px;
    border-radius: 100%;
    position: relative;
    border: solid 2px #FFFFFF;
    bottom: 32px;
    left: 11px;
}

.icon-search::before {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    transform: rotate( 45deg);
    left: 11px;
    top: 15px;
}

.add-cart {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.276) 100%);
    border-radius: 8px;
    border: none;
    padding: 10px 18px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.group-cart {
    display: flex;
    gap: 11px;
    margin-top: 18px;
}

#cta-submit {
    color: #7556CD;
    box-shadow: 4px 4px 14px rgb(228 113 142 / 40%);
    border-radius: 8px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    padding: 8px;
    display: none;
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.276) 100%);
}

.textnote {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #3A3A3A;
}

#date {
    color: #FFFFFF;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    font-family: Quicksand;
}

.carts {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.fitHeight {
    height: fit-content;
}

.cart {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgb(119 187 238 / 25%);
    border-radius: 8px;
    border-left: solid 6px #5551FF;
    padding: 20px;
    display: flex;
    bottom: 20px;
    gap: 10px;
    align-items: center;
}